/* test */
.tab-space{
    margin: 2% -63% !important;
}
button.Notifications {
    background-color: #02aee6;
    padding: 0.5em;
    color: #545252;
    outline: none;
    border: none;
    border-radius: 1.8em 1.5em 1.5em 0;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 10px;
    cursor: pointer;
}
button.Notifications:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px #545252;
}
.w3-card.w3-round.w3-white.w3-center {
    height: 140px;
}
