.abt{
    margin:auto;
}

.about {
    color: black;
}

.fields{
    display:flex;
    flex-direction: row;
    width:70%;
    margin:auto;
    justify-content: space-around;
}
.photos{
    width: 100%;
}
.cards {
    margin: 46px 10px 46px 10px;
    padding:20px;
    height: 400px;
    box-shadow: 0 4px 8px 0 #1a1a1bc7;
    transition: 0.3s;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    background: #ffffff;
}
p{
    line-height: 30px;
}