.AcceptedLi{
    width: 50%;
    margin: 3px auto 0;
    padding: 2px;
    box-sizing: border-box;
    height: 55px;
    background: #2E86C1 ;
}
@media(max-width:886px){
    .AcceptedLi{
        width: 70%;   
    } 
}
@media(max-width:568px){
    .AcceptedLi{
        width: 87%;
    } 
}
@media(max-width:460px){
    .AcceptedLi{
        width: 87%;
    } 
}
@media(max-width:392px){
    .AcceptedLi{
        width: 95%;
    } 
}
@media(max-width:391px){
    .AcceptedLi{
        width: 112%;
    } 
}
@media(max-width:320px){
    .AcceptedLi{
        width: 136%;
    } 
}
.liAccept{
    display: flex;
    justify-content: space-around;
    background: rgba(255, 255, 255, .1);
    padding:0px 20px;
    color:#fff;
    margin: 5px;
    transition: .5s;
    cursor: pointer;
}
@media(max-width:726px){
    .liAccept{
        display: flex;
        justify-content: space-around;
        background: rgba(255, 255, 255, .1);
        padding:0px 20px;
        color:#fff;
        margin: 5px;
        transition: .5s;
        cursor: pointer;
    }
}
@media(max-width:663px){
    .liAccept{
        padding: 0px 0px;
        color: #fff;
        margin: 5px;
        cursor: pointer;
    }
}
@media(max-width:567px){
    .liAccept{
        padding: 0px 0px;
        color: #fff;
        margin: 5px;
        cursor: pointer;
    }
}
.AcceptLi{
    width: 40px;
}
@media(max-width:460px){
    .AcceptLi{
        width: 48px;
        font-size: 12px;
    }
}
.liAccept:hover{
    transform: scale(1.03);
    background:#1C5DB6 ;
}
@media(max-width:460px){
    .AcceptLis{
        width: 48px;
        font-size: 12px;
    }
}
@media(max-width:392px){
    .AcceptLis{
        width: 56px;
        font-size: 8px;
    }
}