.ForumMain {
    background-color: #397B8E;
    width: 42%;
    margin: auto;
    border-radius: 3%;
    height: 375px;
    margin-bottom: 20px;
}
@media(max-width:988px){
    .ForumMain {
        width: 60%;
        height: 400px;
    }  
}
@media(max-width:768px){
    .ForumMain {
        width: 66%;
        height: 400px;
        align-items: center;
    }  
}
@media(max-width:509px){
    .ForumMain {
        width: 66%;
        height: 400px;
    } 
}
@media(max-width:425px){
    .ForumMain {
        width: 88%;
        height: 400px;
    } 
}
.ForumSec {
    width: 85%;
    margin: 15px 0px 17px 39px;
    padding-top: 20px;
}
@media(max-width:604px){
    .ForumSec {
        width: 85%;
        margin: 0px 0px 13px 39px;
        padding-top: 15px;
    }
}
span.ForumScr {
    font-size: 19px;
    font-family: 'FontAwesome';
    color: black;
    margin-top: 7px;
}
span.ForumWri {
    font-size: 19px;
    font-family: 'FontAwesome';
    color: black;
    margin-top: 7px;
    margin-left: 32px;
}
input.ForumInp {
    margin-left: 42px;
    width: 60%;
    height: 34px;
    border: none;
    border-radius: 8px;
}
.ForumBox {
    display: flex;
    margin-left: 37px;
    margin-top: 32px;
}
.ForumBox select {
    background: #1B677E;
    color: #fff;
    padding: 10px;
    width: 203px;
    height: 48px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);
    outline: none;
    margin-left:42px;
    border-radius: 7px;
}
option.ForumOpt {
    background: #33829A;
    color: #fff;
    padding: 10px;
    width: 254px;
    height: 54px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);
    /* outline: none; */
}
.ButtonSend{
    background: none;
    color: #201f1f;
    width: 100px;
    height: 40px;
    border: 1px solid #038cd0;
    font-size: 14px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;

}
@media(max-width:604px){
    .ButtonSend{  
        width: 97px;
        height: 32px;
        font-size: 15px;
    }
}
.ButtonSend:hover{
    background: #33829A;
    cursor: pointer;
    color: seashell;
}
@media(max-width:604px){
    .ForumBox select{
        width: 108px;
        height: 49px;
        font-size: 15px;
    }
}
@media(max-width:548px){
    .ForumBox select{
        width: 108px;
        height: 49px;
        font-size: 15px;
        margin-left: 12px;
    }
}
@media(max-width:489px){
    .ForumBox select{
        width: 99px;
    height: 42px;
    font-size: 15px;
    margin-left: 3px;
}
}
@media(max-width:425px){
    .ForumBox select{
        width: 99px;
    height: 42px;
    font-size: 15px;
    margin-left: 3px;
}
}